
<div class="grid-block align-center">
    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
        
    <div class="grid-block pageHeader">
        <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
            <div class="grid-block title">
                <div class="small-12 medium-6 large-6 xlarge-6 grid-content pageTitle">
                    <span class=""> </span>
                </div>
                <div class="small-12 medium-6 large-6 xlarge-6 grid-content">
                </div>
            </div>
        </div>
	</div>
    
    <div class="grid-block formPlace formPlaceBlock">
             <div class="small-12 medium-12 large-4 xlarge-4 grid-content">                
                    
                <fieldset class="grid-block formPlaceBlockIso">
                    <legend> تغییر کلمه عبور </legend>
                    <div class="grid-block"> 
                        <div class="small-12 medium-12 large-12 xlarge-4 grid-content videoImgPlace">
                            <div class="VideoThumbnailImg">
                                
                                <div class="blockRowEdit">
                                    <a class="btnCardSmall"><span class="icon" data-icon=""></span></a>
                                    <a class="btnCardSmall"><span class="icon" data-icon=""></span></a>
                                </div>
                                <img src="../assets/images/imgBlank.jpg">
                            </div>
                        </div>
                        <div class="small-12 medium-6 large-6 xlarge-4 grid-content">
                            <div class="cardDefaultSection">
                                    <p>
                                        تعداد بازدید : <span>1000</span> <br>
                                        تعداد کاربران : <span> 550 </span> <br>
                                         محبوبیت : <span> 290 </span>
                                    </p>
                                </div>
                        </div>
                        <div class="small-12 medium-6 large-6 xlarge-4 grid-content">
                            <div class="cardDefaultSection">
                                    <p>
                                        تاریخ آپلود : <span> 1/17/2016 </span> <br>
                                        آخرین تغییر : <span> 9/17/2016 </span> <br>
                                        مدت زمان : <span> 18:00 </span>
                                    </p>
                                </div>
                        </div>
                    </div>    

                    <div class="grid-block align-center">
                        <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                         <div class="grid-block align-center formPlaceBlockInfo">
                    
                    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                        <div class="inline-label">
                            <span class="form-label formLabelDefault"><span class="icon" data-icon=""></span>نام</span>
                            <input class="formInputDefault" type="text" placeholder="Channel Name">
                        </div>
                    </div>
                    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                        <div class="inline-label formInlineLabel">
                            <select class="labelFormEnd">
                                <option value="">دسته ها</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span class="form-label formLabelDefault"><span class="icon" data-icon=""></span>دسته ها</span>
                        </div>
                    </div>
                    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                        <div class="inline-label formInlineLabel">
                            <select class="labelFormEnd">
                                <option value="">تگ ها</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe016;"></span>تگ ها</span>
                        </div>
                    </div>
                    <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                        <div class="inline-label formInlineLabel">
                            <select class="labelFormEnd">
                                <option value="">انتخاب گروه</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <span class="form-label formLabelDefault"><span class="icon" data-icon="&#xe29d;"></span>پروفایل مالی</span>
                        </div>
                    </div>
                     <div class="small-12 medium-12 large-12 xlarge-12 grid-content">
                        <div class="grid-block align-center btnFormPlace">
                
                            <span class="small-8 medium-4 large-4 xlarge-3 grid-content">
                                <a class="btnAdd"><span class="icon" data-icon="&#xe042;"></span>تایید</a>
                            </span>
                            <span class="small-8 medium-4 large-4 xlarge-3 grid-content">
                                <a class="btnCancel"><span class="icon" data-icon="&#xe036;"></span>انصراف</a>
                            </span>

                        </div>
                     </div>
                    
                </div>
                    </div>
                    
                </fieldset>
                
            </div>   
    <div class="small-12 medium-12 large-8 xlarge-8 grid-content video-box">
        
        <div class="grid-block align-center player_box">
        
            <video src="http://hw2.asset.aparat.com/aparat-video/a_b1cc6f1gh2c62l2bfdpdb7f948c27g8ed3ec57726509-582q__12bf7.apt?was=c2VydmVyX3RpbWU9OS8xNy8yMDE2IDk6MjQ6MTYgQU0maGFzaF92YWx1ZT1NOXM2NzVuc1F3UDNoK2dpSzE5dk1RPT0mdmFsaWRtaW51dGVzPTE0NDAwJmlkPWV5SnplWE5mYm1GdFpTSTZJbUZ3WVhKaGRDSXNJblJwYldVaU9qRTBOelF4TURReU5UWXNJblpwWkNJNk5UVXdORE00Tnl3aWQyRjBZMmhmZEhsd1pTSTZJbk5wZEdVaUxDSjJhWE5wZEY5elkyOXdaU0k2TlN3aWNtNWtkWE5sY21sa0lqb2lOVFV3TkRNNE56RTBOelF4TURReU5UWXhNall6TlRjaUxDSjFjMlZ5WDJsd0lqb2lORFl1TWpJMExqRTBOeTR5TkRFaUxDSmtkWEpoZEdsdmJpSTZJak0xTXlJc0luVnpaWEpwWkNJNklqRXpORFE1TWpjaWZRPT0=" jw-played="" style="object-fit: fill;"></video>
            
            
        </div>
        <fieldset class="grid-block formPlaceBlockIso">
            <legend>نسخه ها</legend>
                      
            <div class="small-12 medium-12 large-12 xlarge-12 grid-block">
            <ul  class="gridSCList"> <!-- gridCompList -->
                                
                <li class="row">
                   
                    <div class="col10"><div class="cell">عنوان</div></div>
                    <div class="col10"><div class="cell">نرخ بیت</div></div>
                    <div class="col10"><div class="cell">حجم</div></div>
                    <div class="col10"><div class="cell">تاریخ ایجا</div></div>
                    <div class="col15"><div class="cell">پیشرفت</div></div>
                    <div class="col15"><div class="cell">
                        
                        در حال پردازش
                    </div></div>
                    <div class="col5"><div class="cell cellBtnAction">
                        <a class="btnActionDelete"><span class="icon icon-elusive-icons-202" ></span></a>    
                    </div></div>
                    <div class="col15">
                        <div class="cell">
                            <select class="labelFormEnd">
                                    <option value="">فعال/غیرفعال</option>
                                    <option value="0">فعال</option>
                                    <option value="1">غیرفعال</option>
                                    
                            </select>
                        </div>
                    </div>
                    <div class="col5"><div class="cell cellBtnAction">
                        <a class="btnActionDelete"><span class="icon" data-icon=""></span></a>    
                    </div></div>
                    <div class="col5"><div class="cell cellBtnAction">
                        <a class="btnActionDetails"><span class="icon icon-ionicons-39" ></span></a>    
                    </div></div>
                </li>
                                
                                
            </ul>
         </div>
        </fieldset>
         
    </div>

            
            
    
    
    </div>
        
    <div class="grid-block align-center btnFormPlace">
                
        <span class="small-12 medium-3 large-2 xlarge-2 grid-content">
            <a class="btnRe"><span class="icon" data-icon="&#xe052;"></span>بازگشت</a>
        </span>
        

    </div>
        
    </div>
</div>